<div class="m-3">
  <button type="button" class="btn btn-primary mr-3"
          (click)="showAdditionalMenuForAddRow()"
          [disabled]="isShowAdditionalMenuForAddRow">Add Row</button>
  <button type="button" class="btn btn-primary"
          (click)="showAdditionalMenuForAddColumn()"
          [disabled]="isShowAdditionalMenuForAddColumn">Add Column</button>
</div>

<div class="mb-4">
  <form [formGroup]="tableActionFormGroup">
    <div *ngIf="isShowAdditionalMenuForAddRow">
      <div class="container-fluid">
        <div class="row">
          <div *ngFor="let item of columnData" class="col-3">
            <input
              [placeholder]="item?.title"
              [formControlName]="item?.title"
              class="form-control mt-3 mb-3"
              type="number">
          </div>
      </div>
      </div>
      <button type="button" class="btn btn-primary ml-3"
              (click)="addRow()">Ok</button>
      <button type="button" class="btn btn-light ml-3"
              (click)="cancel()">Cancel</button>
    </div>
    <div *ngIf="isShowAdditionalMenuForAddColumn">
      <div class="container-fluid">
        <div class="row">
          <input placeholder="column name"
                 class="form-control w-25 m-3"
                 formControlName="columnName">
        </div>
      </div>
      <button type="button" class="btn btn-primary ml-3"
              (click)="addColumn()"
              [disabled]="!tableActionFormGroup.get('columnName').value">Ok</button>
      <button type="button" class="btn btn-light ml-3"
              (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>
